@charset "UTF-8";
html{
	font-family:sans-serif;
}
body{
	background-color:#deb887;
}
p{
	a:link{
	color: #d25833;
	}
	a:visited{
	color: #d25833
	}
	a:hover{
	color: #e3937a;
	}
	a:active{
	color: #ff6a3b
	}
}
.logo{
	margin:50px 0 40px 0;
	line-height:0;
	text-align:center;
}
.nav li{
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}
.nav a:link{
	color:royalblue;
}
nav a:visited{
	color:midnightblue;
}
nav a:hover{
	color:#ff8000;
}
nav a:active{
	color:#804040;
}
.nav li{
	display: inline;
	list-style-type: none;
}
.nav ul{
	margin: 0 0 0 0;
	padding: 20px 10px 15px 20px;
	background-image: url(image/menu-bg1.png);
	background-repeat: repeat-x;
}
.nav2 ul{
	margin: 0 0 0 0;
	padding: 20px 10px 15px 20px;
	background-image: url(image/menu-bg1.png);
	background-repeat: repeat-x;
}
.footer{
	font-size:22px;
	border-top:3px solid darkred;
}